HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_NAME=fabbrini-api
APP_KEY=
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=fabbrini
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/fabbrini
HASH_DRIVER=bcrypt
